@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');
@import url('fontello.css');
* {
    list-style: none;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}

.contenedor {
    
    background-color: #EBECED;
    max-width: 1444px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
}

nav a {
    
    color: white;
    font-size: 20px;
}

nav {
    
    float: left;
}

header   {
    
    background-color: #263238;
    color: white;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    
}

nav ul li {
   
    margin-top: 30px;
    float: left;
    text-align: center;
    padding: 10px;
}

#menu {

  display: none;
}

.icon-menu {
    
    display: none;
}

@media (max-width: 940px){
    
   
    
    header div img {
        
        float: left;
        margin-left: 30px;
    }
    
    header h1 {
        
        margin-left: 0px;
        margin-top: 30px;
    }

    .icon-menu {
        
        position: absolute;
        cursor: pointer;    
        display: -webkit-box;    
        display: -ms-flexbox;    
        display: flex;
        float: left;
        margin-left: 0px;
        margin-top: 35px;
        font-size: 30px;
    }
    
    nav {
        position: absolute;
        top: 100px;
        background: rgba(51,51,51,0.9);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        display: none;
        margin-left: 70%;
    }
    
    #menu:checked ~ nav{
        
        -webkit-transform: translateX(0%);   
        transform: translateX(0%);
        top: 100px;
        left: -70%;
        width: 100%;
        height: 1024px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    
    .menus {
        
        float: left;
        text-align: left;
        width: 660px;
        margin-left: -40px;
        padding: 10px;  
        border-bottom: 5px solid white;
        
    }
    
}

section {

    padding: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
}


/****************TABLA******************/

section > table {
    
    margin-top: 100px;
    border-collapse: collapse;
    
}

.resultados {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

img {
    
    width: 50%;
}

.disponible {
    
    background-color: #D6EED1;
    display: flex;
    justify-content: center;
}

.no_disponible {
    
    background-color: #F35A5A;
}

.tabla {

    width: 100%;
    display: flex;
    justify-content:  center;
    text-align: center;
    margin-top: 30px;
    border-collapse: collapse;
    
}


td {
    
    width: 10%;
    text-align: center;
    background-color: white;
    padding: 10px;
}

td > p {
    
    padding: 5px;
    
}

/***************LISTA************/

ol {
    
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 15px;
     display: flex;
    justify-content: center;
    width: 50%;
    flex-wrap: wrap;
    background-color: white;
}

.lista {
    
    padding: 10px;
    
    width: 100%;
    display: flex;
    justify-content: center;
}

.lista-titulo {
    
    margin-top: 120px;
    width: 100%;
    justify-content: center;
    display: flex;
}


ol li {
    
    padding: 10px;
    

}

/*FILTRO*/

.filtro {
    
    background-color: white;
    justify-content: center;
    margin-top: 20px;
    display: flex;
}

.filtro > a {
    
    padding: 5px;
    display: flex;
    
    justify-content: center;
    margin-top: 5px;
}

.filtro > p {
    
    padding: 10px;
    
}

.item > tr {
    
    width: 20%;
    display: flex;


}


.item img {
    
    width: 20%;
}


footer {
    
      background-color: #263238;
      margin-top: 50px;
      color: white;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 15px;
}

footer div p {

    display: flex; 
    align-self: center;
    
}