fieldset {
   
   
   border-color: #E9FF00;
   background-color: #FAFFDC;
   border-width: 5px;
   border-style: solid;
   margin: 10px;
}

label {
    width: 18%;
    float: left;
}

.minimo {
    background-color: red;
}

.maximo {
    background-color: #6F00FB;
}

label:hover {
    transition: 1.5s;
    transform: scale(3);
}

#enviar{
    margin: 10px;
}
