body {

       font-family: Segoe UI Light;
       background-color: #181818;
       color: #F0F0F0;
}


h1 {

    color: #11D8E8;

}


td {
    
    background-color: white;
    color: black;
    width: 50%;
    text-align: center;
    font-weight: bold;
}


